<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Snapmap</title>
  <meta name="description" content="App with directions and ting">
  <meta name="author" content="Snapmap">

  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/share-button.css">

  <link rel="stylesheet" href="https://js.arcgis.com/3.15/esri/css/esri.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div id="link">
    <div>
      <p>
        <button id="copy" class="fancy-button" data-clipboard-target="#share">Copy</button>
        <share-button></share-button>
      </p>
      <p>Your map lives in this URL:</p>
      <p>
        <input id="share" type="text">
      </p>
      <p>
        <button id="draw" class="fancy-button">Draw</button>
        <button id="retry" class="fancy-button">Reset</button>
      </p>
    </div>
  </div>

  <div id="map">
    <div id="LocateButton"></div>
  </div>
  <script>
    var geo = <%= @geometry || "undefined" %>
  </script>
  <script src="js/share-button.js"></script>
  <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>
  <script src="https://js.arcgis.com/3.15/"></script>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="js/scripts.js"></script>
</body>
</html>
