html, body, #map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.fancy-button {
  position: relative;
  font-size: 16px;
  color: #333;
  background: #a29baa;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  font-family: Lato, sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  white-space: nowrap;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
  text-transform: uppercase;
}

div#LocateButton.LocateButton {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

#link {
  position: absolute;
  z-index: 10;
  top: 65%;
  left: 40%;
}
